html{
  box-sizing:border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

header{
  text-align: center;
  background-color: #e7001d;
  margin: 0em;
}

.medallion{
    position:relative;
    width:320px;
    margin: 0 auto;
    padding-top: 60px;
}

nav ul{
  list-style-type: none;
}

nav{
  background-color:222222;
  padding:.5em .5em 0.5em 0em;
  border:black;
}

nav li{
  display:inline-block;
}

nav a{
  display: inline-block;
  padding: 0.5em .75em;
  background-color:black;
  color:white;
  text-decoration: none;
}

h2{
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Noto Sans", normal;
  line-height: 1.5;
  color:white;
  margin:0em;
  padding: 0.5em .75em;
  width:100%;
  text-align:center;
}

h3{
    background-color:#e4c22a;
    font-family: "Noto Sans", normal;
    line-height: 1.5;
    color:black;
    margin:0em;
    padding: 5em 5em;
    width:100%;
    text-align:center;
  }

  .dragon-symbol{
      width:320px;
      float: left;
      clear:left;
      background-color:#e4c22a
  }

  .dragon{
    position:relative;
    width:320px;
    margin: 0 auto;
    background-color:#e4c22a
  }

h4{
  background-color:black;
  font-family: "Noto Sans", normal;
  line-height: 1.5;
  color:white;
  margin:0em;
  padding: 0.5em .75em;
  width:100%;
  text-align:center;
}

.goat{
  position:relative;
  width:320px;
  margin: 0 auto;
  background-color:black;
}

.goat-symbol{
  position:relative;
  width:320px;
  margin: 0 auto;
  background-color:black;
  float:right;
  clear:right;
}

h5{
  background-color:#bc0017;
  font-family: "Noto Sans", normal;
  line-height: 1.5;
  color:white;
  margin:0em;
  padding: 0.5em .75em;
  width:100%;
  text-align:center;
}

.rooster{
  position:relative;
  width:320px;
  margin: 0 auto;
  background-color:#bc0017;
}

.rooster-symbol{
  position:relative;
  width:320px;
  margin: 0 auto;
  background-color:#bc0017;
  float:right;
  clear:right;
}

p{
  font-size: .75rem;
  font-style: italic;
  font-family: "Noto Sans", normal;
  line-height: 1.5;
  color:black;
  margin:1em;
}


h6{
  background-color:#e4c22a;
  font-family: "Noto Sans", normal;
  line-height: 1.5;
  color:white;
  margin:0em;
  padding: .5em .75em;
  width:100%;
  text-align:center;
}

.ox-symbol{
  position:relative;
  width:320px;
  margin: 0 auto;
  float:left;
  clear:left;
  background-color:#e4c22a
}

.ox{
  position:relative;
  width:320px;
  margin: 0 auto;
  float:right;
  clear:right;
  background-color:#e4c22a
}

footer{
  color: white;
  background-color: black;
  clear: both;
  font-size: 10px;
  padding: 1em;
  text-align: center;
}
