html{
  box-sizing:border-box;
  font-family:"Noto-sans";
}

*,*::before, *::after {
  box-sizing: inherit;
}

header{
  position:relative;
  background-color: #e7001d;
  padding:0.75em 0;
  text-align:center;
}

.symbol{
  color:white;
  font-size:30px;
  padding:0em;
  position:absolute;
  font-weight:700;
}

.medallion{
  width:55px;
}

nav ul{
  list-style-type: none;
}

nav{
  background-color:#222222;
  padding:.5em .5em 0.5em 0em;
  border:black;
}

nav li{
  display:inline-block;
}

nav a{
  display: inline-block;
  padding: 0.5em .75em;
  background-color:black;
  color:white;
  text-decoration: none;
}

.banner{
  width:100%;
}

h1{
  font-size: 1.5rem;
  font-family: "Noto Sans";
  line-height:1.5;
  color:white;
  text-align:center;
}

h2{
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:white;
  margin:0em;
  width:100%;
  text-align:center;
  font-style:bold;
}

h3{
  background-color:#e4c22a;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:black;
  margin:0em;
  width:100%;
  text-align:center;
  font-style:bold;
  }

.dragon{
  background-color:#e4c22a;
}
  .dragon-symbol{
    float:left;
    width:50%;
  }

  .dragon-image{
    float:right;
    margin: 0 auto;
    width:50%;
  }

  .dragon-caption{
    width:100%;
    text-align:center;
    color:black;
  }

h4{
  background-color:black;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:white;
  margin:0em;
  width:100%;
  text-align:center;
  font-style:bold;
}

.goat{
  background-color:black;
}

.goat-image{
  float:right;
  width:50%;
  }

.goat-symbol{
  float:right;
  width:50%;
  }

  .goat-caption{
    width:100%;
    text-align:center;
    color:white;
  }

h5{
  background-color:#bc0017;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:white;
  margin:0em;
  width:100%;
  text-align:center;
  font-style:bold;
}

.rooster {
  background-color:#bc0017;
}

.rooster-image{
  float:right;
  width:50%;
  }


.rooster-symbol{
  float:left;
  margin: 0 auto;
  width:50%;
}

.rooster-caption{
  width:100%;
  text-align:center;
  color:white;
}


h6{
  background-color:#e4c22a;
  font-family: "Noto Sans";
  color:black;
  margin:0em;
  width:100%;
  text-align:center;
  font-style:bold;
}

.ox{
  background-color:#e4c22a;
}

.ox-symbol{
  float:right;
  width:45%;
}

.ox-image{
  float:right;
  width:50%;
}

.ox-caption{
  width:100%;
  text-align:center;
  color:black;
}

footer{
  color: white;
  background-color: black;
  clear: both;
  font-size: 10px;
  padding: 0.5em .75em;
  text-align: center;
}
