html{
  box-sizing:border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

header{
  text-align: center;
  background-color: #e7001d;
  margin: 0em;
  padding:0;
  overflow:hidden;
}

.medallion{
  position:relative;
  width:320px;
  margin: 0 auto;
  padding-top: 60px;
}

nav ul{
  list-style-type: none;
}

nav{
  background-color:#222222;
  padding:.5em .5em 0.5em 0em;
  border:black;
}

nav li{
  display:inline-block;
}

nav a{
  display: inline-block;
  padding: 0.5em .75em;
  background-color:black;
  color:white;
  text-decoration: none;
}

.banner{
  width:100%;
}


h2{
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:white;
  margin:0em;
  padding: 0.5em .75em;
  width:100%;
  text-align:center;
  font-style:bold;
}

h3{
  background-color:#e4c22a;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:black;
  margin:0em;
  padding: .5em .5em;
  width:100%;
  text-align:center;
  font-style:bold;
  }

  .dragon-symbol{
    float:right;
    width:50%;
    background-color:#e4c22a;
  }

  .dragon-image{
    float:left;
    margin: 0 auto;
    width:50%;
    background-color:#e4c22a;
  }

  .dragon-caption{
    background-color:#e4c22a;
    width:100%;
    text-align:center;
    color:black;
  }

h4{
  background-color:black;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:white;
  margin:0em;
  padding: 0.5em .75em;
  width:100%;
  text-align:center;
  font-style:bold;
}

.goat{
  background-color:black;
}

.goat-image{
  float:right;
  width:50%;
  }

.goat-symbol{
  float:right;
  width:50%;
  }

  .goat-caption{
    background-color:black;
    width:100%;
    text-align:center;
    color:white;
  }

h5{
  background-color:#bc0017;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:white;
  margin:0em;
  padding: 0.5em .75em;
  width:100%;
  text-align:center;
  font-style:bold;
}

.rooster-image{
  float:right;
  width:50%;
  background-color:#bc0017;
  }


.rooster-symbol{
  float:left;
  margin: 0 auto;
  width:50%;
  background-color:#bc0017;
}

.rooster-caption{
  background-color:#bc0017;
  width:100%;
  text-align:center;
  color:white;
}

p{
  font-size: .75rem;
  font-style: italic;
  font-family: "Noto Sans";
  line-height: 1.5;
  color:black;
  margin:1em;
}


h6{
  background-color:#e4c22a;
  font-family: "Noto Sans";
  color:black;
  margin:0em;
  padding: .5em .75em;
  width:100%;
  text-align:center;
  font-style:bold;
}

.ox-symbol{
  float:right;
  width:50%;
  background-color:#e4c22a;
}

.ox-image{
  float:right;
  width:50%;
  background-color:#e4c22a;
}

.ox-caption{
  background-color:#e4c22a;
  width:100%;
  text-align:center;
  color:black;
}

footer{
  color: white;
  background-color: black;
  clear: both;
  font-size: 10px;
  padding: 1em;
  text-align: center;
}
